@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 50em
}

body {
  font-family: 'Rubik', sans-serif;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.designtrends.com%2Fwp-content%2Fuploads%2F2016%2F03%2F30131631%2FSimple-White-Grunge-Texture.jpg&f=1&nofb=1");
}

main {
  line-height: 1.5;
  padding: 4em 1em;
  background-color: white;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  text-decoration: underline;
}

h1, h2 {
  color: #333
}

body{
  color: #44545e;
}

a {
  color: #e25858
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fjooinn.com%2Fimages%2Fgrayscale-photo-of-a-mountain-covered-with-snow.jpg&f=1&nofb=1");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header a {
  border-radius: 2em;
  color: black;
  background-color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: color, background;
  transition-duration: 200ms;
}

header a:hover{
  background: #000000;
  color: white
}